.container {
  background-color: #22262f;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  margin: 1rem;
  padding-top: 0.8rem;
  border-radius: 20px;
  /* height: 4980px; */
}

.chart {
  padding: 4rem;
}

h2 {
  color: white;
  margin-top: 2rem !important;
}
