.container {
  background-color: #22262f;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  margin: 1rem 1rem 1rem 0;
  padding-top: 0.8rem;
  border-radius: 20px;
}

.chart {
  padding: 4rem;
}

.title {
  color: white;
  margin-top: 2rem !important;
}
