.container {
  border: 1px solid #373860;
  height: 110px;
  margin: 2rem;
  border-radius: 15px;
  display: flex;
  align-content: space-between;
  justify-content: space-around;
  background-color: #373860;

  box-shadow: 0 3px 10px rgb(255 255 255 / 0.1);
}

.title {
  text-align: left;
  margin: 1rem;
  color: white;
}

.title > h2 {
  text-align: left;
}

.details {
  text-align: right;
  margin: 1rem;
  color: white;
  width: 50%;
}

.details > h2 {
  text-align: right;
  font-size: 1.2rem !important;
}

.details > p {
  font-size: 1.2rem !important;
}
